/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/* BODY */

html, body {
    background-color: #383C47;
    color: #fff;
}

a, a:hover {
    color: rgb(77, 172, 253);
}


/* JUMBOTRON */

.jumbotron {
    background-color: #272B34;

    padding-top: 90px;
}


/* NAVIGATION */
#main-nav {
    background-color: #272B34;
    border-radius: 4px;
    color: #fff;
    padding: 6px 20px 8px 20px;
    /* box-shadow: 0px 3px 9px #00000038; */
    border: 1px solid #ffffff21;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #0000001f;
    border-radius: 8px;
    color: #ffffff;
}

#btn-logout {
    color: #FE4E4E;
}

#btn-logout:focus, #btn-logout:hover {
    background-color: transparent;
    outline: 0px;
}

#nav-seperator {
    width: 2px;
    background-color: #ffffff47;
    height: auto;
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu {
    background-color: #272B34;
    color: #fff;
    border: 1px solid #ffffff21;
    padding: 0;
}

.dropdown-header {
    padding: 15px 20px;
    font-size: 1rem;
    background-color: #00000030;
    border-radius: 4px 4px 0 0;
    color: #ffffff99;
}

.dropdown-divider {
    border-color: #ffffff21;
    margin: 0;
}

.dropdown-item {
    padding: 11px 20px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    background-color: #0000002e;
    border: 0;
    outline: 0;
}



/* CARDS */
@media (min-width: 576px) {
    .card-deck {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .card-deck {
        margin-bottom: 30px;
    }
}




.card {
    background-color: #272B34;
    border: 1px solid #000;

    max-width: 540px;
}

.card .card-header {
    padding-top: 0;
}

.card a {
    color: rgb(77, 172, 253);
}

.card .btn-primary {
    color: #ffffff;
}

.card-link + .card-link {
    margin-left: 10px;
}

.btn-symptom {
    color: #fff;
    border-color: #fff;
    border: 1px dashed #ffffff42;
}

.nav-tabs .nav-link {
    padding: 10px 6px;
    color: #fff;
}

.nav-tabs .fa-trash {
    color: #ab2e13;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.card[data-wb="0"], .card[data-wb="0"] > .card-header, .card[data-wb="0"] > .card-footer {
    border-color: rgba(255, 65, 65, 0.4);
}

.card[data-wb="20"], .card[data-wb="20"] > .card-header, .card[data-wb="20"] > .card-footer {
    border-color: rgba(255, 87, 20, 0.4);
}

.card[data-wb="40"], .card[data-wb="40"] > .card-header, .card[data-wb="40"] > .card-footer {
    border-color: rgba(238, 99, 82, 0.4);
}

.card[data-wb="60"], .card[data-wb="60"] > .card-header, .card[data-wb="60"] > .card-footer {
    border-color: rgba(255, 207, 86, 0.4);
}

.card[data-wb="80"], .card[data-wb="80"] > .card-header, .card[data-wb="80"] > .card-footer {
    border-color: rgba(57, 141, 255, 0.4);
}

.card[data-wb="100"], .card[data-wb="100"] > .card-header, .card[data-wb="100"] > .card-footer {
    border-color: rgba(39, 254, 117, 0.4);
}


/* FORM */

.form-control {
    background-color: #0000001c;
    color: #ffffff;
    border: 1px solid #ced4da63;
}

.form-control:focus {
    color: #ffffff;
    background-color: #0000001c;
    border-color: #ffffff;
    outline: 0;
    box-shadow: none;
}

.form-check-input {
    border: 2px solid #fff;
    outline: 0;

    background-color: transparent;
}

#wb-range {
    outline: none;
    padding: 0;
    margin: 0;

    background: #000000;
}

#wb-range {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.24);
    outline: none;
    padding: 0;
    margin: 0;
}

#wb-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
#wb-range::-webkit-slider-thumb:hover {
    background: #272B34;
}
#wb-range:active::-webkit-slider-thumb {
    background: #FFCF56;
}

#wb-range[data-status="0"]::-webkit-slider-thumb {
    background: #FF4141;
}
#wb-range[data-status="1"]::-webkit-slider-thumb {
    background: #FF5714;
}
#wb-range[data-status="2"]::-webkit-slider-thumb {
    background: #EE6352;
}
#wb-range[data-status="3"]::-webkit-slider-thumb {
    background: #FFCF56;
}
#wb-range[data-status="4"]::-webkit-slider-thumb {
    background: #398DFF;
}
#wb-range[data-status="5"]::-webkit-slider-thumb {
    background: #27FE75;
}

    #wb-status {
        text-align: center;
    }

#wb-status span {
    background-color: #32353F;
    padding: 10px 20px;
    border-radius: 8px;
}


#RG-CP {
    border: 1px solid #ced4da63;
    display: inline-block;

    border-radius: 4px;
    overflow: hidden;
}

#RG-CP input[type=radio] {
    display: none;
}

#RG-CP input[type=radio] + label {
    padding: 10px 20px;
    margin: 0;

    cursor: pointer;
}

#RG-CP input[type=radio] + label:nth-of-type(1) {
    border-right: 1px solid #ced4da63;
}

#RG-CP input[type=radio] + label:last-of-type {
    margin-left: -4px;
}

#RG-CP input[type=radio]:checked + label {
    background-color: #272b34;
}

#CG-SL input[type=checkbox]{
    visibility: hidden;
    padding: 0;
    margin: 0;
    height: 0;
}

#CG-SL input[type=checkbox]:checked + label {
    background-color: #272b34;

}

#CG-SL label {
    display: block;
    background-color: transparent;
    border: 1px solid #ced4da63;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -22px;
}



/* BUTTONS */

.btn-outline-primary {
    
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: none;
}

.btn-outline-primary:hover {
    color: #272b34;
    background-color: #26FF75;
    border-color: #26FF75;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #272b34;
    background-color: #26FF75;
    border-color: #26FF75;
}

.btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    color: #272B34;
    background-color: #fff;
    border-color: #fff;
}



/* TABLE */

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #50535A;
    background-color: #272B34;
    background-color: transparent;
}

.fc-unthemed td.fc-today {
    background: #212327;
    background-color: transparent;
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
    background: none;
    border-color: #50535A;
}

.fc-title {
    padding-left: 4px;
}



.fc-event, .fc-event-dot {
    background-color: #272b34;
    border: 1px solid #272B34;
}

.fc-toolbar h2 {
    font-weight: 300;
}

.fc-day-header {
    font-weight: 300;
}

.fc-button {
    background-color: #272B34;
    border: 0;
    box-shadow: none;
}

.fc-button-primary:hover {
    color: #fff;
    background-color: #1e2b37;
    border-color: #272B34;
}

.fc-button-primary:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc-button-primary:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc-button-primary:disabled {
    background-color: transparent;
}


/* HOMEPAGE */

.bg-dark {
    background-color: #272B34 !important;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-box {
    background-color: #383C47;
    display: inline-block;
    padding: 25px 25px;
    height: 100px;
    width: 100px;
    border-radius: 999px;
}




/* DISPLAY */

dt, dd {
    
}
dt{
    font-weight: 500;
}

#symp-det hr {
    border-top: 1px solid rgba(255,255,255,.4);
    width: 100%;
}