@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 pt-lg-5">@ViewData["Title"]</h1>
        <p class="lead"></p>
    </div>
</div>

<div class="container">
    <p>Use this page to detail your site's privacy policy.</p>
    <h2>@ViewData["UserID"]</h2>
    <h2>@ViewData["UserName"]</h2>
    <h2>@ViewData["UserDOB"]</h2>
</div>