@model SymptomTracker.Models.Symptom

@{
    ViewData["Title"] = "Create";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 pt-lg-5">Log Symptoms</h1>
        <p class="lead">Log your symptoms for today.</p>
    </div>
</div>

<div class="container">

     <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    <input asp-for="Body" class="form-control" />
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RecordDate" class="control-label"></label>
                    <input asp-for="RecordDate" class="form-control" type="date" />
                    <span asp-validation-for="RecordDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
